@import '../styles';

.header {
    height: 100px;
    background-color: $orange;
    font-family: $mainFont ;
    font-weight: $bold;
    font-size: 20px;
    color: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
}

.logo {
    display: block;


    padding-left: 5%;


}

.logo__img {
    width: 100%;
    height: 100%;
    //object-fit: cover;

}

.navigation {
    padding-right: 10%;
    font-size: 2.3vw;
}

.navigation__list {
    display: flex;
    flex-direction: row;
    column-gap: 30%;
}

.navigation__list__elem {
    list-style-type: none;
    color: $white;
    text-decoration: none;

    &:hover {
        transform: scale(1.02);
        transition: transform 0.5s;
    }
}

.navigation-link {
    color: $white;
    text-decoration: none;
}





@media screen and (min-width: 700px) and (max-width: 1399px) {


    .navigation {
        font-size: 25px;
    }

}

@media screen and (max-width: 699px) {


    .navigation {
        font-size: 20px;
    }
}